.textArea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: vertical;
    color: black;
    min-height: 150px;
    max-height: 300px;
    border: 2px solid #00000051;
    background-color: transparent;
    outline: none;
}

.textArea:focus{   
    border-color: black;
}

@media screen and (max-width: 768px) {
    .textArea {
        font-size: 18px;
    }

}
  